{% extends 'bootstrap/base.html' %}

{% block title %}JZIB Insurance Company{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        body {
            background-color: black;
            color: white;
        }
        .navbar-item {
            display: flex;
        }

        .  {
            margin-left: auto;
        }
        a, a:hover{
            text-decoration: none;
            color:white;
        }
        p{
            font-size: 18px;
        }
        
        #header{
            border-style: solid;
            border-color: white; 
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .login-button{
            border-style: solid;
            border-color: white;
            background: black;
        }

        .black-and-white{
            background-color: black;
            color: white;
        }
    </style>
{% endblock %}
{% block content %}
<nav class="navbar">
    <div class="container " style="">
        <a href = "/"> <h1 class = "text-center" id = "header"> JZIB Insurance</h1></a>
    </div>
</nav>

<div class="container">
    
    <h2>Sign up</h2>
    <form method="POST" action="{{ url_for('signup')}}">
        <div class="form-group">
            {{ form.accountID.label }}
            {{ form.accountID(class="form-control  black-and-white") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control  black-and-white") }}
        </div>
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control  black-and-white") }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control  black-and-white") }}
        </div>
        <div class="form-group">
            {{ form.ssn.label }}
            {{ form.ssn(class="form-control  black-and-white") }}
        </div>

        <button type="submit" class="btn btn-primary login-button">Signup</button>
        
    </form>
    {% if msg %}
        <div style = "margin-top: 18px"> {{msg}} </div>
    {% endif %}

</div>
{% endblock %}
